<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/current-weather">Current Weather</a></li>
    <li><a routerLink="/forecast">Forecast</a></li>
    <li><a routerLink="/air-quality">Air Quality</a></li>
    <li><a routerLink="/weather-alerts">Weather Alerts</a></li>
    <li><a routerLink="/uv-index">UV Index</a></li>
    <li><a routerLink="/news">News</a></li>
    <li><a routerLink="/grocery">Grocery</a></li>
    <li><a routerLink="/form">Feedback Form</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
